.wrapper{
    max-width: 1200px;
    margin: 100px auto 0;
   
    background: skyblue;
}
.container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
   
}
.form{
    margin:  0 auto;
    text-align: center;
}
.input{
    width: 50%;
     margin:  0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 20px ;
    border-radius: 20px;
    background: black;
    color: wheat;
      &:hover{
        transform: scale(1.03);
    }
}
.cards{
     border: 2px solid black;
     text-align: center;
     padding: 20px;
}